{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <a class="newpost-post text-center" href="/blog/newpost">Create a new post!</a>
        {{message}}
        {% for p in posts %}
          {{ p.render() | safe }}
          <br><br>
        {% endfor %}
        <h3>Other Posts</h3>
        {% for p in other_posts %}
          {{ p.render() | safe }}
          <br><br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
